/SistemaTurnosServidor/nbproject/private/
/SistemaTurnosServidor/build/
/SistemaTurnosServidor/dist/
/SistemaTurnos/target/
/SistemaTurnos/turnos-common/target/
/Practicas/target/
/practica2/nbproject/private/
/practica2/build/
